@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    font-family: 'lato', sans-serif;
    color: rgb(134, 165, 177);
    line-height: 1.6;
    background-color: rgb(70, 35, 11);
}


ul{
    list-style-type: none; 
}


a{
    text-decoration: none;
    color: #333;
}


h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}


/* -----------------------------This Is Navbar Section-------------- */


.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}


.navbar ul {

    margin-left: 3em; 
}

.navbar ul li hi {
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    padding-top: 8px;

}



.navbar ul li hi span {
    font-size: 30px;
    font-weight: 800;
}

.navbar ul hu {
    padding-top: 18px;
    margin-left: 30em;
    display: flex;
    font-size: 20px;
    font-weight: 700;
}




.navbar a {
    color: #fff;
    padding: 15px;
    margin: 0 5px;
    position: relative;
}

.navbar a span {
    color: rgb(233, 136, 136);
    font-size: 20px;
    
}


 .navbar a:hover{
 color: brown;
} 


.navbar .flex {
    justify-content: space-between;
}



/* ------------------This is showcase area------------------ */


.main {
    margin: 5em;
}

.main h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 700;
}



.main p {
    color: wheat;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
}

.main a {
    color: white;
    /* position: absolute; */
    /* margin-top: 3em; */
    margin-left: 2em;
    padding-top: 5px;
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(224, 159, 18);
    width: 180px;
    padding-left: 15px;
    border-radius: 30px;
    font-weight: lighter;
}


.main [type=text]{
    width: 20%;
    height: 40px;
    color: #FFFF;
    padding: 12px;
    border-radius: 7px;
    border: 2px solid gray;
    background-color: transparent;
   }


   input[type=password]:focus{

    font-size: 15px;
    outline: none;
   }




   ::placeholder{
    font-size: 15px;
    color: rgb(220, 235, 230);
    text-transform: capitalize;
   }
.main hm {
    display: flex;
    margin-top: 4em;
}


/* ------------------------------This is card section-------------------- */

.card-1 {
    color: white;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-block: 2em;
    gap: 50px;
}

.card-2 {
    display: flex;
    color: white;
    gap: 100px;
    margin-inline: 4em;
}

.card span {
    font-size: 20px;
}

.card-items {
    background-color: #0d1f31;
    border-radius: 30px;
    padding: 20px;
    min-height: 285px;

}


/* -----------------------------------------------media query code start here------------------------------ */

@media screen and (max-width:1556px) {

}


@media (min-width:300px) and (max-width:1121px) {

    .card-1 {
        color: white;
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        gap: 50px;
        max-width: 400px;
    }


    .card-2 {
        display: flex;
        flex-direction: column;
        color: white;
        max-width: 400px;
        margin: auto;
        gap: 50px;
    }
    
    
}








